<div class="col-md-9">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_auth_list %>
      </h2>
      <p class="panel-subtitle">
        <%= txt_content_auth_list %>
        </p>
    </header>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped mb-none">
          <thead>
            <tr>
              <th>
                <%= txt_th_auth_page %>
              </th>
              <th>
                <%= txt_th_auth_description %>
              </th>
              <th>
                <%= txt_th_auth_level %>
              </th>
              <th>
                <%= txt_th_auth_parent %>
              </th>
              <th>
                <%= txt_th_auth_id %>
              </th>
              <th>
                <%= txt_th_edit_auth %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < auth_list.length; i++) { %>
            <tr>
              <td>
                <input name="page" type="text" class="form-control input-xs editable-value"  value="<%= auth_list[i]['page'] %>" />
                  <div class="readonly-value">
                    <%= auth_list[i]['page'] %>
                  </div>
              </td>
              <td>
                <input name="description" type="text" class="form-control input-xs editable-value"  value="<%= auth_list[i]['description'] %>"  />
                  <div class="readonly-value">
                    <%= auth_list[i]['description'] %>
                    </div>
              </td>
              <td>
                <input name="level" type="text" class="form-control input-xs editable-value"  value="<%= auth_list[i]['level'] %>"  />
                  <div class="readonly-value">
                    <%= auth_list[i]['level'] %>
                    </div>
              </td>
              <td>
                <input name="parent" type="text" class="form-control input-xs editable-value"  value="<%= auth_list[i]['parent'] %>"  />
                  <div class="readonly-value">
                    <%= auth_list[i]['parent'] %>
                    </div>
              </td>
              <td>
                <input name="id" type="text" class="form-control input-xs editable-value"  value="<%= auth_list[i]['id'] %>"  />
                  <div class="readonly-value auth-id">
                    <%= auth_list[i]['id'] %>
                    </div>
              </td>
              <td width="100">
                <button class="btn btn-primary btn-xs hidden-xs btn-auth-edit">修改</button>
                <% if (auth_list[i]["valid"]) { %>
                <button class="btn btn-primary btn-xs hidden-xs btn-auth-delete">禁止</button>
                <% } else {%>
                <button class="btn btn-primary btn-xs hidden-xs btn-auth-valid">激活</button>
                <% }%>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>